body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e5e5e5;
}

.navbar {
    width: 100%;
}

.navbar__nav {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu {
    display: flex;
    gap: 40px;
}

li {
    list-style: none;
}

.navbar__link {
    color: #003b66;
    text-decoration: none;
    font-weight: 700px;
}

 .intro__left {
    font-size: 50px;
    width: 400px;
    height: 70px;
    padding-left: 90px;
    padding-top: -2%;
    color: black;
}

.intro__text {
    width: 350px;
    height: 50px;
    font-size: 18px;
    margin: 20px 0;
}

.intro {
    width: 100%;
}

.container {
    width: 1200px;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.hero__img {
    padding-left: 20;
    padding-top: 5%;
    width: 45%;
}

.hero__btn {
    width: 200px;
    height: 50px;
    background-color: #458FF6;
    color: white;
    border-radius: 55px;
    border: none;
    padding: 20px;
    font-size: 15px;
}

.hero__title {
    padding-bottom: 10px;
    width: 275px;
    height: 80px;
}

.hero__text {
    padding-bottom: 25px;
}

.services {
    width: 100%;
}

.services__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.services__title {
    font-size: 36px;
    text-align: center;
}

.services__hr {
    height: 5px;
    background-color: black;
    width: 60px;
    border-radius: 50px;
    margin: 40px 0px;
}

.services__text {
    width: 900px;
    text-align: center;
}

.services__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 20px;
}

.cards__card {
    width: 300px;
    height: 310px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.card__text {
    color: #7D7987;
    width: 240px;
}

.info__container {
    margin-top: 100px;
}

.info__img {
    width: 500px;
}

.info__right {
    width: 500px;
}

.info__title {
    font-size: 36px;
    width: 300px;
}

.info__hr {
    height: 2px;
    background-color: black;
    width: 50px;
    border-radius: 50px;
    flex-direction: column;
    margin: 40px 0px;
}

.info__text {
    width: 300px;
    color: #7D7987;
    font-size: 18px;
}

.info__btn {
    width: 150px;
    height: 50px;
    border-color: #458FF6;
    border-radius: 55px;
    color: #458FF6;
    font-size: 15px;
    padding-top: 5px;
    margin-top: 15px;
    background-color: white;
}

.promo__container {
    width: 1200px;
    display: flex;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.promo__title {
    font-size: 36px;
    width: 300px;
}

.promo__hr {
    height: 2px;
    background-color: black;
    width: 50px;
    border-radius: 50px;
    flex-direction: column;
    margin: 40px 0px;
}

.promo__text {
    width: 300px;
    color: #7D7987;
    font-size: 18px;
}

.promo__btn {
    width: 150px;
    height: 50px;
    border-color: #458FF6;
    border-radius: 55px;
    color: #458FF6;
    font-size: 15px;
    padding-top: 5px;
    margin-top: 15px;
    background-color: white;
}

.promo__img {
    width: 500px;
}

.bio__container {
    background-color: #5A98F2;
    margin-top: 100px;
    width: 1000px;
    height: 300px;
    border-radius: 15px;
}

.bio__title {
    font-size: 36px;
    width: 500px;
    color: #FFFFFF;
    display: flex;
}

.bio__hr {
    height: 2px;
    width: 50px;
    border-radius: 50px;
    margin: 40px 0px;
    display: flex;
    background-color: #FFFFFF;
}

.bio__left {
    display: flex;
}

.bio__right {
    display: flex;
}

.bio__img {
    border-radius: 100px;
    border: #FFFFFF solid;
    width: 130px;
    height: 130px;
}

.check__container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.check__img {
    width: 350px;
    height: 240px;
    border-radius: 20px;
    margin-top: 80px;
}

.check__header {
    width: 250px;
    height: 60px;
    font-size: 21px;
}

.check__text {
    width: 260px;
    height: 80px;
    font-size: 16px;
    color: #7D7987;
}

.check__foot {
    width: 260px;
    height: 25px;
    font-size: 17px;
    color: #4089ED;
}

.check__title {
    font-size: 36px;
    text-align: center;
}

.check__hr {
    height: 5px;
    background-color: black;
    width: 60px;
    border-radius: 50px;
    margin-top: 15px;
}

.check__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.check__btn {
    width: 150px;
    height: 50px;
    border-color: #458FF6;
    border-radius: 55px;
    color: #458FF6;
    font-size: 15px;
    padding-top: 5px;
    margin-top: 15px;
    background-color: white;
}

.hero {
    height: 100vh;
}

.footer {
    width: 100%;
    height: 300px;
    background-color: #67c3f3;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    margin-top: 100px;
}

.footer__left {
    width: 350px;
    margin-top: 80px;
}

.footer__text {
    color: #FFFFFF;
    font-size: 18px;
    padding: 20px 0;
}

.footer__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
    gap: 10px;
}

.footer__link {
    color: #FFFFFF;
    text-decoration: none;
}

.footer__title {
    color: #FFFFFF;
    font-size: 20px;
    display: flex;
}

.footer__rights {
    color: #FFFFFF;
    font-size: 16px;
}

.check__link {
    text-decoration: none;
    color: #4089ED;
}