@import "./general";
@import "./mixin";
@import "./navbar";
@import "./intro";
@import "./services";
@import "./leading";
@import "./mobile";
@import "./costumer";
@import "./footer";
@import "./check";
