body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e5e5e5;
  font-family: "Mulish";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  color: grey;
}

.container {
  width: 1200px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
