.intro {
  width: 100%;

  .intro__container {
    @include flex;
  }

  .intro__title {
    width: 450px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */

    color: #000000;

    mix-blend-mode: normal;
  }

  .intro__text {
    width: 445px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    /* or 152% */

    color: #7d7987;

    mix-blend-mode: normal;
    margin: 30px 0;
  }

  .intro__btn {
    width: 200px;
    height: 57px;
    background: #458ff6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    color: #ffffff;
    mix-blend-mode: normal;
    border: none;
    transition: all 1s ease;
  }

  .intro__btn:hover {
    transform: scale(1.1);
    transition: all 1s ease;
  }

  .intro__btn:active {
    background: black;
    transition: all 0.4s ease;
  }

  .intro__img {
    width: 600px;
    height: 500px;
  }
}

@media (max-width: 1200px) {
  .intro {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: auto;

    .intro__container {
      flex-direction: column;
    }

    .intro__title {
      width: 100%;
      text-align: center;
    }

    .intro__text {
      width: 90%;
      text-align: center;
      margin: 20px auto;
    }

    .intro__btn {
      display: block;
      margin: auto;
      margin: 20px auto;
    }

    .intro__right {
      width: 100%;
    }
    .intro__img {
      width: 100%;
      height: auto;
    }
  }
}
