.leading {
  width: 100%;
  .leading__container {
    @include flex;
  }

  .leading__title {
    width: 450px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */

    color: #000000;

    mix-blend-mode: normal;
  }

  .leading__hr {
    width: 55px;
    height: 3px;
    background: #000000;
    border-radius: 10px;
    border: none;
    margin-left: 1px;
  }

  .leading__text {
    width: 445px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    /* or 152% */

    color: #7d7987;

    mix-blend-mode: normal;
    margin: 30px 0;
  }

  .leading__btn {
    position: absolute;
    width: 200px;
    height: 57px;
    background: #458ff6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    color: #ffffff;
    mix-blend-mode: normal;
    border: none;
    transition: all 1s ease;
  }

  .leading__btn:hover {
    transform: scale(1.1);
    transition: all 1s ease;
  }

  .leading__btn:active {
    background: black;
    transition: all 0.4s ease;
  }
}

@media (max-width: 1200px) {
  .leading__container {
    width: 90%;
    margin: auto;
    flex-direction: column;

    .leading__img {
      width: 100%;
      height: auto;
    }

    .leading__title {
      width: 100%;
      text-align: center;
    }

    .leading__text {
      width: 90%;
      text-align: center;
      margin: 20px auto;
    }

    .leading__hr {
      width: 10%;
      margin: auto;
      text-align: center;
    }

    .leading__btn {
      width: 70%;
      margin: 40px;
    }
  }
}
