.navbar {
  width: 1250px;
  position: sticky;
  top: 1px;
  background: white;
  padding: 10px 0;
  z-index: 100;
  border-radius: 0 0 20px 20px;
  margin: 0 auto;

  .navbar__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__menu {
    display: flex;
    gap: 40px;
  }

  .navbar__link {
    color: #003b66;
    text-decoration: none;
    font-weight: 700px;
  }

  .navbar__item span {
    color: black;
    font-weight: 600;
  }

  .navbar__item {
    color: grey;
    transition: all 0.7s ease;
  }

  .navbar__item:hover {
    color: black;
    transition: all 0.7s ease;
  }

  .navbar__burger {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
  }

  .navbar__burger div {
    width: 25px;
    height: 3px;
    background: #000;
    border-radius: 10px;
    border: none;
  }
}

@media (max-width: 1200px) {
  .navbar {
    width: 90%;
    margin: auto;

    .navbar__menu {
      display: none;
    }

    .navbar__burger {
      display: flex;
    }
  }
}
